noderededge.json
[
  {
    "id": "a1b2c3d4e5f6g7h8",
    "type": "tab",
    "label": "Energia Inteligente",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_in_luminosidade",
    "type": "mqtt in",
    "z": "a1b2c3d4e5f6g7h8",
    "name": "Luminosidade",
    "topic": "/sala/luminosidade",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_config",
    "nl": false,
    "rap": false,
    "rh": 0,
    "x": 160,
    "y": 120,
    "wires": [["luminosidade_ui", "luminosidade_chart", "python_out"]]
  },
  {
    "id": "mqtt_in_presenca",
    "type": "mqtt in",
    "z": "a1b2c3d4e5f6g7h8",
    "name": "Presença",
    "topic": "/sala/presenca",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_config",
    "nl": false,
    "rap": false,
    "rh": 0,
    "x": 150,
    "y": 200,
    "wires": [["presenca_ui", "presenca_chart", "python_out"]]
  },
  {
    "id": "luminosidade_ui",
    "type": "ui_text",
    "z": "a1b2c3d4e5f6g7h8",
    "group": "grupo_dashboard",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Luminosidade Atual",
    "label": "Luminosidade Atual",
    "format": "{{msg.payload}}%",
    "layout": "row-spread",
    "x": 460,
    "y": 120,
    "wires": []
  },
  {
    "id": "presenca_ui",
    "type": "ui_text",
    "z": "a1b2c3d4e5f6g7h8",
    "group": "grupo_dashboard",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Presença Detectada",
    "label": "Presença Detectada",
    "format": "{{msg.payload == 1 ? 'Sim' : 'Não'}}",
    "layout": "row-spread",
    "x": 460,
    "y": 200,
    "wires": []
  },
  {
    "id": "luminosidade_chart",
    "type": "ui_chart",
    "z": "a1b2c3d4e5f6g7h8",
    "name": "Gráfico de Luminosidade",
    "group": "grupo_dashboard",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "Gráfico de Luminosidade (%)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "10",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#00bfff"],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 480,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "presenca_chart",
    "type": "ui_chart",
    "z": "a1b2c3d4e5f6g7h8",
    "name": "Gráfico de Presença",
    "group": "grupo_dashboard",
    "order": 4,
    "width": 0,
    "height": 0,
    "label": "Gráfico de Presença (0=Ausente, 1=Detectado)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "step",
    "ymin": "0",
    "ymax": "1",
    "removeOlder": "10",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "useOneColor": false,
    "colors": ["#ff6600"],
    "outputs": 1,
    "x": 480,
    "y": 240,
    "wires": [[]]
  },
  {
    "id": "python_out",
    "type": "mqtt out",
    "z": "a1b2c3d4e5f6g7h8",
    "name": "Python Output",
    "topic": "energia_inteligente/dados",
    "qos": "",
    "retain": "",
    "broker": "mqtt_broker_config",
    "x": 460,
    "y": 300,
    "wires": []
  },
  {
    "id": "mqtt_broker_config",
    "type": "mqtt-broker",
    "name": "Mosquitto Broker",
    "broker": "test.mosquitto.org",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "grupo_dashboard",
    "type": "ui_group",
    "name": "Painel de Monitoramento",
    "tab": "tab_dashboard",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "tab_dashboard",
    "type": "ui_tab",
    "name": "Energia Inteligente",
    "icon": "dashboard",
    "order": 1
  }
]
